@use 'variables' as *;
@use 'mixins' as m;

.main-layout-container {
  display: flex;
  flex-grow: 1;
  position: relative;

  .sidenav {
    display: flex;
    flex-direction: column;
    width: $sidenav-width-expanded;
    overflow-x: hidden;
    overflow-y: overlay;
    position: fixed;
    top: $header-height;
    bottom: 0;

    &.collapsed {
      width: $sidenav-width-collapsed;
    }

    @include m.sidenav-animation(width);
  }

  .main-content {
    @include m.flex-column();
    padding: 8px 0 0 8px;
    margin-top: $header-height;

    @include m.sidenav-animation(margin-left);

    &.expanded {
      margin-left: $sidenav-width-expanded;
    }

    &.collapsed {
      margin-left: $sidenav-width-collapsed;
    }
  }
}
