@use 'variables' as *;
@use 'mixins' as *;
@use 'material';
@use '@fontsource/open-sans';
@use '@fontsource/material-icons';

html {
  @include flex-column();
  height: 100%;
}

body {
  font-family: $default-font-family;
  @include flex-column();
  margin: 0;
  padding: 0;
}

.flex-router-outlet + * {
  @include flex-column();
}

a {
  text-decoration: none;
}

snack-bar-container.wex-error-toast {
  background-color: $default-background-color;
  border: 1px solid $default-error-border;
  max-width: 50vw;
  min-width: 100px;
}
