<div>{{ title }}</div>

<ng-container *wexUnwrap="items$ | async; let items; state as state">
  <label for="allowLoad">
    <input type="checkbox" id="allowLoad" [(ngModel)]="allowLoad">
    Allow load
  </label>
  <button (click)="onLoad()" [disabled]="state.pending || !allowLoad">Load</button>
  <ng-container *ngIf="state.pending">Loading...</ng-container>
  <ng-container *ngIf="state.error">Error occurred!</ng-container>
  <div>Pending container</div>
  <div>{{ items }}</div>
</ng-container>

<label for="allowR">
  <input type="checkbox" id="allowR" [(ngModel)]="allowRoulette">
  Allow roulette
</label>
<div *ngIf="allowRoulette">
  <h6>Roulette</h6>
  <ng-container *wexUnwrap="roulette$ | async; let roulette; pending: rPending; error: rError">
    <span>R: {{ roulette }}</span>
  </ng-container>
  <ng-template #rPending>Loading roulette... </ng-template>
  <ng-template #rError> Error roulette. </ng-template>
</div>

<div>
  <div>
    <div>
      <div>
        <div>
          <div>
            <div>
              <div>
                <div>
                  <div>
                    <div>
                      <div>
                        <div>
                          <div>
                            <div>
                              <div>
                                <div>
                                  <div>
                                    <div>
                                      <wex-playground
                                        [a]="1"
                                        [b]="2"
                                        [c]="3"
                                        [d]="4"
                                        [e]="5"
                                        [f]="6"
                                        asd
                                        asd
                                        asd
                                        asd
                                        asd
                                        asd
                                      >
                                      </wex-playground>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
