<ng-container *ngIf="entitiesCollection$ | async as entitiesCollection">
  <ng-container *wexUnwrap="entitiesCollection.entities | async; let entities; state as entitiesState">
    <div *ngIf="entitiesState.pending">Entities loading...</div>
    <div *ngFor="let item of entities; trackBy: trackByItem">
      {{ item.entityId }} : {{ item.comment }} <button (click)="deleteItem(entitiesCollection, item)">Delete</button>
      <button (click)="editItem(item)">Edit</button>
    </div>
  </ng-container>
</ng-container>
