<nav class="nav-links" role="navigation">
  <ng-container *ngFor="let parentLink of links">
    <wex-nav-link [navLink]="parentLink" [minimal]="collapsed"></wex-nav-link>
    <wex-nav-link
      *ngFor="let childLink of parentLink.children | async"
      [navLink]="childLink"
      [minimal]="collapsed"
      [child]="true"
    ></wex-nav-link>
  </ng-container>
</nav>
<button mat-button [disableRipple]="true" class="sidenav-toggle" (click)="onCollapse()">
  <mat-icon *ngIf="!collapsed">keyboard_arrow_left</mat-icon>
  <mat-icon *ngIf="collapsed">keyboard_arrow_right</mat-icon>
</button>
