<div>
  <input type="text" [(ngModel)]="currentComment" />

  <ng-container *wexUnwrap="createdEntity$ | async; state as state">
    <button (click)="upsert(currentEntity)" [disabled]="state.pending">
      {{ !!currentEntity ? 'Edit' : 'Create' }}
    </button>
    <button *ngIf="!!currentEntity" (click)="addNew()" [disabled]="state.pending">Add New</button>
    <label for="confirmation">
      <input type="checkbox" id="confirmation" [formControl]="confirmationControl" />
      Confirmation
    </label>
  </ng-container>
</div>
